<form #themeForm="ngForm" appIdentityRevealed>
  <div [hidden]="themeForm.submitted">
    <div class="cross-validation" [class.cross-validation-error]="!!themeForm.errors?.identityRevealed && (themeForm.touched || themeForm.dirty)">

      <button tabindex="-1" (click)="onClose()" type="button" class="close"><span class="glyphicon glyphicon-remove"></span></button>

      <div class="form-group">
        <label for="topic">Название темы</label>
        <input tabindex="-1" id="topic" name="topic" class="form-control" minlength="4" [(ngModel)]="theme.topic" #topic="ngModel" autocomplete="off" required >
        <div *ngIf="topic.invalid && (topic.dirty || topic.touched)" class="alert alert-danger">
          <div *ngIf="!!topic.errors.required">
            Обязательное поле.
          </div>
          <div *ngIf="!!topic.errors.minlength">
            Длина названия должна быть не менее 4 символов.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="description">Описание</label>
        <textarea tabindex="-1" id="description" maxlength="255" name="description" class="form-control rpws-3" [(ngModel)]="theme.description" #description="ngModel" required></textarea>
        <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
          <div *ngIf="!!description.errors.required">
            Обязательное поле.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="lecturer">Лектор</label>
        <input tabindex="-1" id="lecturer" name="lecturer" class="form-control" [(ngModel)]="theme.lecturer" #lecturer="ngModel">
      </div>

      <div class="form-group">
        <label for="tagInput">Теги</label>
        <div>
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let tag of theme.tags" [selectable]="true" [removable]="true" (removed)="removeTag(tag)">
              {{tag.name}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
          <input tabindex="-1" id="tagInput" #tagInput [formControl]="tagCtrl" [matAutocomplete]="auto"
                 [matChipInputFor]="chipList" (matChipInputTokenEnd)="addTag($event)">
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedTag($event)">
            <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
              {{tag.name}}
            </mat-option>
          </mat-autocomplete>
        </div>
      </div>
    </div>

    <div class="submit-btn-container">
      <button *ngIf="!isEdit" [disabled]="themeForm.invalid" color="primary" (click)="postTheme()" mat-raised-button>
        <span>Добавить тему</span>
      </button>
      <button *ngIf="isEdit" [disabled]="themeForm.invalid" color="primary" (click)="updateTheme()" mat-raised-button>
        <span>Сохранить изменения</span>
      </button>
    </div>
  </div>
</form>
