<div>
  <div class="img-container">
    <a [routerLink]="['/events', event.id]">
      <img class="event-img" src="../../assets/images/mainheader1.png" style="width:100%">
    </a>
    <div class="admin-btn-container" *ngIf="userRoles.indexOf('ROLE_ADMIN') != -1">
      <button (click)="openAddForm()" class="admin-btn" mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
      <button data-toggle="modal" [attr.data-target]="'#eventDelete'+ event.id" class="admin-btn" mat-icon-button>
        <mat-icon>delete_forever</mat-icon>
      </button>
    </div>
  </div>
</div>
<div>
  <h4><b><a class="link" [routerLink]="['/events', event.id]">{{event.name}}</a></b></h4>
  <p>{{date}}</p>
  <div class="info-container">
    <img class="info-img" src="../../assets/svg/members-24px.svg">
    <span class="info">45</span>
    <img class="info-img" src="../../assets/svg/chat-24px.svg">
    <span class="info">5</span>
    <img class="info-img" src="../../assets/svg/thumb_up-24px.svg">
    <span class="info">75</span>
  </div>
</div>

<app-event-delete *ngIf="userRoles.indexOf('ROLE_ADMIN') != -1" [event]="event" id="eventDelete{{event.id}}" class="modal fade" (deleteEvent)=deleteEvent.emit(this.event)></app-event-delete>
