.isDisabled {
  pointer-events: none;
  color: currentColor;
  opacity: 0.5;
  text-decoration: none;
}

.btn-xl {
  width: 60px;
  height: 60px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
}

.form-btn {
  margin-right: 7px;
  width: 22px;
}

.headline {
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.1;
}

.btn-container {
  display: inline-block;
  text-align: right;
  width: 10%;
}

.submit-btn-container
{
  text-align: right;
}

.fill-remaining-space
{
  flex: 1 1 auto;
}
