<div *ngIf="event$ | async as event">
  <div class="themes">
    <h2><b>Темы субботника</b></h2>
  </div>
  <app-theme-into-event *ngFor="let theme of event.themesSPA" [theme]=theme [userRoles]=userRoles></app-theme-into-event>

  <div *ngIf="userRoles.indexOf('ROLE_USER') != -1" class="add-theme-btn-container" (mouseenter)="hover=true" (mouseleave)="hover=false" >
    <span *ngIf="!hover" class="placeholder">Предложить тему</span>
    <button (click)="getThemes()" data-toggle="modal" [attr.data-target]="'#addExistingTheme'" *ngIf="hover" class="add-theme-btn" mat-button>
      <div>Предложить существующую тему</div>
    </button>
    <button (click)="openAddForm()" *ngIf="hover" class="add-theme-btn" mat-button>
      <div>Предложить свою тему</div>
    </button>
  </div>

  <div *ngIf="daysLeft" class="time-left-container">
    <div class="time-left-align">
      <div class="time-left">{{daysLeft}}</div>
      <button class="btn-participate" mat-stroked-button>Участвовать</button>
    </div>
  </div>

  <div class="event-container">
    <div class="info">
      <h2><b>{{event.name}}</b></h2>
      <label class="date">{{date}}</label>
      <div class="description">
        Таким образом дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации направлений прогрессивного развития. Товарищи! дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации. Не следует, однако забывать, что укрепление и развитие структуры требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач.
        Разнообразный и богатый опыт новая модель организационной деятельности представляет собой интересный эксперимент проверки модели развития. Идейные соображения высшего порядка, а также новая модель организационной деятельности позволяет выполнять важные задания по разработке соответствующий условий активизации. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации направлений прогрессивного развития. Товарищи! постоянный количественный рост и сфера нашей активности позволяет оценить значение дальнейших направлений развития.
      </div>
    </div>
    <div class="members">
      <h2><b>Участники</b></h2>
    </div>
  </div>

  <div id="addExistingTheme" class="modal fade">
    <div class="modal-dialog" >
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title custom_align" id="Heading">Удалить это событие</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        </div>
        <div class="modal-body">
          <div>
            <mat-checkbox *ngFor="let theme of themeList" color="primary" (change)="chooseTheme($event.checked, theme)"
                          [checked]="checkTheme(theme)" [disabled]="checkTheme(theme)">
              {{theme.topic}}
            </mat-checkbox>
          </div>
          <div class="submit-btn-container">
            <button (click)="addThemes()" data-dismiss="modal" color="primary" mat-raised-button>Предложить темы</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
