.themes h2
{
  margin-left: 32px;
}

.add-theme-btn-container
{
  display: inline-flex;
  margin: 10px 0 0 32px;
  border-radius: 5px;
  width: 280px;
  height: 75px;
  border: 3px dashed #fba80e;
  vertical-align: top;
  background: white;
  outline: none;
}

.placeholder
{
  margin: auto;
}

.add-theme-btn
{
  white-space: normal;
  line-height: normal;
  width: 50%;
  outline: none;
}

.add-theme-btn:first-of-type
{
  border-right: 3px dashed orange;
}

.event-container
{
  display: flex;
  margin: 32px;
}

.description
{
  max-width: 85%;
}

.info
{
  width: 70%;
}

.members
{
  width: 30%;
  background: #f5f5f5;
  border-radius: 4px;
}

.members h2
{
  margin-left: 15px;
}

::ng-deep .mat-checkbox-layout .mat-checkbox-label
{
  white-space: normal;
}

.date
{
  color: #3f51b5;
}

.time-left-container
{
  margin: 32px 32px 0 32px;
  background: #3f51b5;
  display: flex;
  height: 64px;
  border-radius: 4px;
}

.time-left-align
{
  margin: auto;
  display: flex;
  color: white;
}

.time-left
{
  margin: auto 16px auto auto;
}

.btn-participate
{
  border: 1px solid #fba80e;
  outline: none;
}

.modal-body div
{
  display: grid;
}
