.logout {
  padding-right: 32px;
}

button[mat-button]:focus {
  outline: 0px;
}

mat-sidenav-container {
  position: unset;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #FFFFFF;
}

mat-sidenav
{
  width: 96px;
  background: #f5f5f5;
  border: none;
}

mat-sidenav-content
{
  position: unset;
}

.img-container
{
  height: 96px;
  width: 96px;
}

.img-container img
{
  width: 64px;
  margin: 16px;
  opacity: 0.6;
}

.img-container img:hover
{
  width: 68px;
  margin: 14px;
  opacity: 1;
}

mat-toolbar
{
  background: none;
}

mat-toolbar button
{
  margin-right: 32px;
}

hr
{
  margin: 0 32px 32px 32px;
  border-top: 2px solid #f5f5f5;
}

.router-link-active
{
  background-color: #7a86cc;
}

.back-icon
{
  vertical-align: unset;
  opacity: 0.87;
}

.back-link
{
  color: rgba(0,0,0,.87);
  text-decoration: none;
}

.back-link span
{
  margin-left: 5px;
}

.title
{
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  margin-left: 16px;
}
