<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <div routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}">
      <a [routerLink]="['/']" (click)="currentPage = 'events'">
        <div class="img-container">
          <img src="../assets/svg/event-24px.svg">
        </div>
      </a>
    </div>
    <div routerLinkActive="router-link-active">
      <a [routerLink]="['/themes']" (click)="currentPage = 'themes'">
        <div class="img-container">
          <img src="../assets/svg/title-24px.svg">
        </div>
      </a>
    </div>
    <div *ngIf="observableUser | async as user" routerLinkActive="router-link-active">
      <a *ngIf="user.roles.indexOf('ROLE_ADMIN') != -1" [routerLink]="['/admin']" (click)="currentPage = 'admin'">
        <div class="img-container">
          <img src="../assets/svg/supervised_user_circle-24px.svg">
        </div>
      </a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <a class="title back-link" [routerLink]="['/']" (click)="currentPage = 'events'" *ngIf="router.url.includes('events')">
        <img class="back-icon" src="../assets/svg/arrow_back-24px.svg">
        <span>Субботники</span>
      </a>
      <span *ngIf="currentPage.includes('events') && !router.url.includes('events')" class="title">Субботники</span>
      <span *ngIf="currentPage.includes('themes')" class="title">Темы</span>
      <span *ngIf="currentPage.includes('admin')" class="title">Админ панель</span>

      <span class="fill-remaining-space"></span>

      <button (click)="SignIn()" *ngIf="!authorized" mat-button>
          <span>Sign In</span>
      </button>

      <button (click)="Logout()" *ngIf="authorized" mat-button>
        <mat-icon class="logout">exit_to_app</mat-icon>
        <span>Welcome, {{user.fullName}}</span>
      </button>
    </mat-toolbar>
    <hr>
    <router-outlet (activate)="getUser()"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
