<div class="theme-container">
  <div>
    <img class="avatar" src="../../assets/images/default-user.png">
  </div>
  <div>
    <span class="topic"><b>{{theme.topic}}</b></span>
    <span class="lecturer">{{theme.lecturer}}</span>
    <span class="description">{{theme.description}}</span>
  </div>
  <span class="fill-remaining-space"></span>
  <div class="like-container" *ngIf="userRoles.indexOf('ROLE_USER') != -1">
    <span>115</span>
    <a href="">
      <img class="like" src="../../assets/svg/favorite_border-24px.svg">
    </a>
  </div>
</div>
